<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.social.mybatis.generator.database.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.social.mybatis.generator.database.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_portrait" jdbcType="VARCHAR" property="userPortrait" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
  </resultMap>
</mapper>